{{define "main"}}

<!--Navigattion bar-->
<nav class="navbar navbar-expand-lg navbar-dark navbar-togglable fixed-top">
  <div class="container-lg">
    <!-- Brand -->
    <a class="navbar-brand d-lg-none" href="{{.Site.Params.logo_link}}"
      >Neta Grill</a
    >

    <!-- Toggler -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Navigation -->
      <ul class="navbar-nav justify-content-end w-100">
        {{ range .Site.Menus.mainr }}
        <li class="nav-item">
          <a class="nav-link" href="{{ .URL | absLangURL }}" role="button">
            {{.Name}}
          </a>
        </li>
        {{end}}
      </ul>

      <!-- Brand -->
      <a
        class="navbar-brand d-none d-lg-block px-lg-6"
        href="{{.Site.Params.logo_link}}"
        >Neta Grill</a
      >

      <!-- Navigation -->
      <ul class="navbar-nav justify-content-start w-100">
        {{- $currentNode := . }}
        <!---->

        {{ range .Site.Menus.mainl }}
        <!---->
        {{- if .HasChildren }}
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            id="accountDropdown"
            href="{{ .URL | absLangURL }}"
            role="button"
            aria-haspopup="true"
            aria-expanded="false"
          >
            {{ .Name }}
          </a>
          <div class="dropdown-positioner">
            <ul class="dropdown-menu" aria-labelledby="accountDropdown">
              {{ range .Children }}
              <li class="dropdown-item">
                <a
                  class="dropdown-link"
                  href="{{ .URL | absLangURL }}"
                  role="button"
                >
                  {{.Name}}
                </a>
              </li>
              {{- end}}
            </ul>
          </div>
        </li>

        {{- end}}
        <!---->
        {{- end}}

        <li class="nav-item">
          <span>
            <!-- Language List -->
            {{ if .IsTranslated }}
            <select
              class="m-2 border-0"
              id="select-language"
              onchange="location = this.value;"
            >
              {{ $siteLanguages := site.Languages}}

              <!---->

              {{ $pageLang := .Page.Lang}}
              <!---->
              {{ range .Page.AllTranslations }}
              <!---->
              {{ $translation := .}}
              <!---->
              {{ range $siteLanguages }}
              <!---->
              {{ if eq $translation.Lang .Lang }}
              <!---->
              {{ $selected := false }}
              <!---->
              {{ if eq $pageLang .Lang}}
              <option
                id="{{ $translation.Language }}"
                value="{{ $translation.Permalink }}"
                selected
              >
                {{ .LanguageName }}
              </option>
              {{ else }}
              <option
                id="{{ $translation.Language }}"
                value="{{ $translation.Permalink }}"
              >
                {{ .LanguageName }}
              </option>
              {{ end }}

              <!---->
              {{ end }}
              <!---->
              {{ end }}
              <!---->
              {{ end }}
            </select>
            {{ end }}</span
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- end navigation -->

<!-- WELCOME -->
{{with .Params.hero}}
<section
  data-jarallax
  data-speed=".8"
  class="bg-cover jarallax"
  style="background-image: url({{.background_image}})"
>
  <div class="py-13 py-md-15 bg-dark-50">
    <div class="container-lg">
      <div class="row justify-content-center">
        <div class="col-md-10 col-lg-8 text-center text-white">
          <!-- Preheading -->
          <h6 class="text-uppercase mb-5">{{.preheading}}</h6>

          <!-- Heading -->
          <h1 class="display-3 mb-4">{{.heading}}</h1>

          <!-- Text -->
          <p class="fs-lg">{{.text}}</p>
          <br /><br />

          <a class="btn btn-danger" href="{{.button_link}}">
            {{.button_text}}</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
{{end}}

<!-- SHAPE -->

{{with .Params.logo}}
<section class="pt-10 pt-md-12">
  <div class="container-lg">
    <div class="row justify-content-center mt-n8">
      <div class="col-md-6">
        <p
          class="img-fluid svg-shim text-pinterest mx-auto mb-3 mb-md-5"
          style="max-width: 300px"
        >
          <img class="" src="{{.image}}" alt="..." />
        </p>
      </div>
    </div>
  </div>
</section>
<br />
{{end}}

<!-- ABOUT -->
{{with .Params.about}}
<section>
  <div class="container-lg">
    <div class="row align-items-center justify-content-between">
      <div class="col-md-6 col-lg-5 text-center text-md-start">
        <!-- Heading -->
        <h2 class="display-4 mb-4">{{.heading}}</h2>

        <!-- Text -->
        <p class="text-muted">{{.text}}</p>

        <!-- Lists -->
        <div class="row mb-8 mb-md-0">
          <div class="col-6">
            <!-- List -->
          </div>
        </div>
      </div>
      <div class="col-md-5 col-lg-6">
        <!-- Image grid -->
        <div class="img-grid img-grid-4">
          <div class="img-grid-item">
            <!-- Image -->
            <img
              class="img-fluid border border-4 border-md-7 border-white shadow"
              src="{{.image_1}}"
              alt="..."
              data-jarallax-element="-85"
            />
          </div>
          <div class="img-grid-item">
            <!-- Image -->
            <img
              class="img-fluid border border-4 border-md-7 border-white shadow"
              src="{{.image_2}}"
              alt="..."
              data-jarallax-element="-50"
            />
          </div>
          <div class="img-grid-item">
            <!-- Image -->
            <img
              class="img-fluid border border-4 border-md-7 border-white shadow"
              src="{{.image_3}}"
              alt="..."
              data-jarallax-element="-25"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{end}}

<!-- SHAPE -->
<div class="position-relative">
  <div class="shape shape-fluid-x shape-bottom text-white pb-18">
    <div class="shape-img pb-9 pb-md-15">
      <svg viewBox="0 0 100 50" preserveAspectRatio="none">
        <path d="M0 0h100v25H75L25 50H0z" fill="currentColor" />
      </svg>
    </div>
  </div>
</div>

<section>
  <br />
  <br />
  <br />
</section>

{{with .Params.menu}}
<div class="row justify-content-center">
  <div class="col-md-10 col-lg-8 text-center">
    <!-- Heading -->
    <h2 class="display-3 mb-4">{{.heading}}</h2>

    <!-- Text -->
    <p class="text-muted mb-9">{{.text}}</p>
  </div>
</div>
{{end}}

<section class="bg-dark">
  <div class="container-lg">
    <div class="row">
      <div class="col-12">
        <!-- Divider -->

        <!-- Stack -->

        <div class="card-stack">
          <!-- Card -->
          {{with .Params.menu_card_1}}
          <div class="card-stack-item mb-9">
            <div class="card card-lg">
              <div class="row gx-0">
                <div
                  class="col-md order-md-1 d-flex align-items-center bg-danger"
                >
                  <!-- Image -->
                  <img class="card-img-top" src="{{.image}}" alt="..." />
                </div>
                <div
                  class="col-md-5 order-md-0 d-flex align-items-center bg-white"
                >
                  <div class="card-body text-center">
                    <!-- Heading -->
                    <h1 class="font-sans-serif mb-4 mt-auto">{{.title}}</h1>
                    <!-- Text -->
                    <p>{{.text}}</p>
                    <!-- Link -->
                    <a
                      class="h6 text-uppercase text-danger mt-auto"
                      href="{{.link}}"
                    >
                      {{.button}}
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {{end}} {{with .Params.menu_card_2}}
          <div class="card-stack-item mb-9">
            <div class="card card-lg">
              <div class="row gx-0">
                <div
                  class="col-md order-md-1 d-flex align-items-center bg-danger"
                >
                  <!-- Image -->
                  <img class="card-img-top" src="{{.image}}" alt="..." />
                </div>
                <div
                  class="col-md-5 order-md-0 d-flex align-items-center bg-white"
                >
                  <div class="card-body text-center">
                    <!-- Heading -->
                    <h1 class="font-sans-serif mb-4 mt-auto">{{.title}}</h1>
                    <!-- Text -->
                    <p>{{.text}}</p>
                    <!-- Link -->
                    <a
                      class="h6 text-uppercase text-danger mt-auto"
                      href="{{.link}}"
                    >
                      {{.button}}
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {{end}} {{with .Params.menu_card_3}}
          <div class="card-stack-item mb-9">
            <div class="card card-lg">
              <div class="row gx-0">
                <div
                  class="col-md order-md-1 d-flex align-items-center bg-danger"
                >
                  <!-- Image -->
                  <img class="card-img-top" src="{{.image}}" alt="..." />
                </div>
                <div
                  class="col-md-5 order-md-0 d-flex align-items-center bg-white"
                >
                  <div class="card-body text-center">
                    <!-- Heading -->
                    <h1 class="font-sans-serif mb-4 mt-auto">{{.title}}</h1>
                    <!-- Text -->
                    <p>{{.text}}</p>
                    <!-- Link -->
                    <a
                      class="h6 text-uppercase text-danger mt-auto"
                      href="{{.link}}"
                    >
                      {{.button}}
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {{end}} {{with .Params.menu_card_4}}
          <div class="card-stack-item mb-9">
            <div class="card card-lg">
              <div class="row gx-0">
                <div
                  class="col-md order-md-1 d-flex align-items-center bg-danger"
                >
                  <!-- Image -->
                  <img class="card-img-top" src="{{.image}}" alt="..." />
                </div>
                <div
                  class="col-md-5 order-md-0 d-flex align-items-center bg-white"
                >
                  <div class="card-body text-center">
                    <!-- Heading -->
                    <h1 class="font-sans-serif mb-4 mt-auto">{{.title}}</h1>
                    <!-- Text -->
                    <p>{{.text}}</p>
                    <!-- Link -->
                    <a
                      class="h6 text-uppercase text-danger mt-auto"
                      href="{{.link}}"
                    >
                      {{.button}}
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {{end}} {{with .Params.menu_card_5}}
          <div class="card-stack-item mb-9">
            <div class="card card-lg">
              <div class="row gx-0">
                <div
                  class="col-md order-md-1 d-flex align-items-center bg-danger"
                >
                  <!-- Image -->
                  <img class="card-img-top" src="{{.image}}" alt="..." />
                </div>
                <div
                  class="col-md-5 order-md-0 d-flex align-items-center bg-white"
                >
                  <div class="card-body text-center">
                    <!-- Heading -->
                    <h1 class="font-sans-serif mb-4 mt-auto">{{.title}}</h1>
                    <!-- Text -->
                    <p>{{.text}}</p>
                    <!-- Link -->
                    <a
                      class="h6 text-uppercase text-danger mt-auto"
                      href="{{.link}}"
                    >
                      {{.button}}
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {{end}} {{with .Params.menu_card_6}}
          <div class="card-stack-item mb-9">
            <div class="card card-lg">
              <div class="row gx-0">
                <div
                  class="col-md order-md-1 d-flex align-items-center bg-danger"
                >
                  <!-- Image -->
                  <img class="card-img-top" src="{{.image}}" alt="..." />
                </div>
                <div
                  class="col-md-5 order-md-0 d-flex align-items-center bg-white"
                >
                  <div class="card-body text-center">
                    <!-- Heading -->
                    <h1 class="font-sans-serif mb-4 mt-auto">{{.title}}</h1>
                    <!-- Text -->
                    <p>{{.text}}</p>
                    <!-- Link -->
                    <a
                      class="h6 text-uppercase text-danger mt-auto"
                      href="{{.link}}"
                    >
                      {{.button}}
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {{end}}
        </div>
      </div>
    </div>
  </div>
</section>

<!-- LOCATIONS -->

<section class="pt-12 pt-md-14 pb-10 pb-md-8">
  <div class="container-lg">
    {{with .Params.locations}}
    <div class="row align-items-center justify-content-betwen mb-9">
      <div class="col-md-5 text-center text-md-start">
        <!-- Heading -->
        <h2 class="display-4 text-black mb-4 mb-md-0">{{.heading}}</h2>
      </div>
      <div class="col-md-6 text-center text-md-start">
        <!-- Text -->
        <p class="text-black mb-0">{{.text}}</p>
      </div>
    </div>
    {{end}}
    <div class="row">
      <div class="col-12">
        <!-- Slider -->
        <div
          class="flickity-viewport-visible mx-n4"
          data-flickity='{"cellAlign": "left", "imagesLoaded": true, "pageDots": false, "prevNextButtons": false, "contain": true}'
        >
          <div class="col-12 px-4" style="max-width: 300px">
            <!-- Card -->
            {{with .Params.location_1}}
            <div class="card card-sm rounded-top-start rounded-bottom-end lift">
              <!-- Image  -->
              <img
                class="card-img rounded-top-start"
                src="{{.image}}"
                alt="..."
                href="#!"
              />
              <!-- SHAPE -->
              <div class="position-relative">
                <div class="shape shape-fluid-x shape-top text-white">
                  <div class="shape-img pb-4">
                    <svg viewBox="0 0 100 50" preserveAspectRatio="none">
                      <path d="M0 25h25L75 0h25v50H0z" fill="currentColor" />
                    </svg>
                  </div>
                </div>
              </div>
              <!-- Body -->
              <div class="card-body">
                <!-- Heading -->
                <h4 class="text-dark">{{.branch_name}}</h4>
                <br />
                <!-- Text -->
                <small>
                  <p class="fs-sm mb-4">
                    <span class="text-danger">TEL:</span
                    ><span class="text-dark">&nbsp&nbsp{{.tel}}</span>
                  </p>
                  <p class="fs-sm mb-4">
                    <span class="text-danger">{{.days}}:</span
                    ><span class="text-dark">&nbsp&nbsp{{.hours}}</span>
                  </p>
                </small>
                <a class="ms-auto stretched-link" href="{{.link}}"> </a>
              </div>
            </div>
          </div>
          <div class="col-12 px-4" style="max-width: 300px">
            {{end}}

            <!-- Card -->
            {{with .Params.location_2}}
            <div class="card card-sm rounded-top-start rounded-bottom-end lift">
              <!-- Image  -->
              <img
                class="card-img rounded-top-start"
                src="{{.image}}"
                alt="..."
                href="#!"
              />
              <!-- SHAPE -->
              <div class="position-relative">
                <div class="shape shape-fluid-x shape-top text-white">
                  <div class="shape-img pb-4">
                    <svg viewBox="0 0 100 50" preserveAspectRatio="none">
                      <path d="M0 25h25L75 0h25v50H0z" fill="currentColor" />
                    </svg>
                  </div>
                </div>
              </div>
              <!-- Body -->
              <div class="card-body">
                <!-- Heading -->
                <h4 class="text-dark">{{.branch_name}}</h4>
                <br />
                <!-- Text -->
                <small>
                  <p class="fs-sm mb-4">
                    <span class="text-danger">TEL:</span
                    ><span class="text-dark">&nbsp&nbsp{{.tel}}</span>
                  </p>
                  <p class="fs-sm mb-4">
                    <span class="text-danger">{{.days}}:</span
                    ><span class="text-dark">&nbsp&nbsp{{.hours}}</span>
                  </p>
                </small>
                <a class="ms-auto stretched-link" href="{{.link}}"></a>
              </div>
            </div>
          </div>
          <div class="col-12 px-4" style="max-width: 300px">
            {{end}}

            <!-- Card -->
            {{with .Params.location_3}}
            <div class="card card-sm rounded-top-start rounded-bottom-end lift">
              <!-- Image  -->
              <img
                class="card-img rounded-top-start"
                src="{{.image}}"
                alt="..."
                href="#!"
              />
              <!-- SHAPE -->
              <div class="position-relative">
                <div class="shape shape-fluid-x shape-top text-white">
                  <div class="shape-img pb-4">
                    <svg viewBox="0 0 100 50" preserveAspectRatio="none">
                      <path d="M0 25h25L75 0h25v50H0z" fill="currentColor" />
                    </svg>
                  </div>
                </div>
              </div>
              <!-- Body -->
              <div class="card-body">
                <!-- Heading -->
                <h4 class="text-dark">{{.branch_name}}</h4>
                <br />
                <!-- Text -->
                <small>
                  <p class="fs-sm mb-4">
                    <span class="text-danger">TEL:</span
                    ><span class="text-dark">&nbsp&nbsp{{.tel}}</span>
                  </p>
                  <p class="fs-sm mb-4">
                    <span class="text-danger">{{.days}}:</span
                    ><span class="text-dark">&nbsp&nbsp{{.hours}}</span>
                  </p>
                </small>
                <a class="ms-auto stretched-link" href="{{.link}}"></a>
              </div>
            </div>
          </div>
          <div class="col-12 px-4" style="max-width: 300px">
            {{end}}

            <!-- Card -->
            {{with .Params.location_4}}
            <div class="card card-sm rounded-top-start rounded-bottom-end lift">
              <!-- Image  -->
              <img
                class="card-img rounded-top-start"
                src="{{.image}}"
                alt="..."
                href="#!"
              />
              <!-- SHAPE -->
              <div class="position-relative">
                <div class="shape shape-fluid-x shape-top text-white">
                  <div class="shape-img pb-4">
                    <svg viewBox="0 0 100 50" preserveAspectRatio="none">
                      <path d="M0 25h25L75 0h25v50H0z" fill="currentColor" />
                    </svg>
                  </div>
                </div>
              </div>
              <!-- Body -->
              <div class="card-body">
                <!-- Heading -->
                <h4 class="text-dark">{{.branch_name}}</h4>
                <br />
                <!-- Text -->
                <small>
                  <p class="fs-sm mb-4">
                    <span class="text-danger">TEL:</span
                    ><span class="text-dark">&nbsp&nbsp{{.tel}}</span>
                  </p>
                  <p class="fs-sm mb-4">
                    <span class="text-danger">{{.days}}:</span
                    ><span class="text-dark">&nbsp&nbsp{{.hours}}</span>
                  </p>
                </small>
                <a class="ms-auto stretched-link" href="{{.link}}"></a>
              </div>
            </div>
          </div>
          <div class="col-12 px-4" style="max-width: 300px">
            {{end}}

            <!-- Card -->
            {{with .Params.location_5}}
            <div class="card card-sm rounded-top-start rounded-bottom-end lift">
              <!-- Image  -->
              <img
                class="card-img rounded-top-start"
                src="{{.image}}"
                alt="..."
                href="#!"
              />
              <!-- SHAPE -->
              <div class="position-relative">
                <div class="shape shape-fluid-x shape-top text-white">
                  <div class="shape-img pb-4">
                    <svg viewBox="0 0 100 50" preserveAspectRatio="none">
                      <path d="M0 25h25L75 0h25v50H0z" fill="currentColor" />
                    </svg>
                  </div>
                </div>
              </div>
              <!-- Body -->
              <div class="card-body">
                <!-- Heading -->
                <h4 class="text-dark">{{.branch_name}}</h4>
                <br />
                <!-- Text -->
                <small>
                  <p class="fs-sm mb-4">
                    <span class="text-danger">TEL:</span
                    ><span class="text-dark">&nbsp&nbsp{{.tel}}</span>
                  </p>
                  <p class="fs-sm mb-4">
                    <span class="text-danger">{{.days}}:</span
                    ><span class="text-dark">&nbsp&nbsp{{.hours}}</span>
                  </p>
                </small>
                <a class="ms-auto stretched-link" href="{{.link}}"></a>
              </div>
            </div>
          </div>
          <div class="col-12 px-4" style="max-width: 300px">
            {{end}}

            <!-- Card -->
            {{with .Params.location_6}}
            <div class="card card-sm rounded-top-start rounded-bottom-end lift">
              <!-- Image  -->
              <img
                class="card-img rounded-top-start"
                src="{{.image}}"
                alt="..."
                href="#!"
              />
              <!-- SHAPE -->
              <div class="position-relative">
                <div class="shape shape-fluid-x shape-top text-white">
                  <div class="shape-img pb-4">
                    <svg viewBox="0 0 100 50" preserveAspectRatio="none">
                      <path d="M0 25h25L75 0h25v50H0z" fill="currentColor" />
                    </svg>
                  </div>
                </div>
              </div>
              <!-- Body -->
              <div class="card-body">
                <!-- Heading -->
                <h4 class="text-dark">{{.branch_name}}</h4>
                <br />
                <!-- Text -->
                <small>
                  <p class="fs-sm mb-4">
                    <span class="text-danger">TEL:</span
                    ><span class="text-dark">&nbsp&nbsp{{.tel}}</span>
                  </p>
                  <p class="fs-sm mb-4">
                    <span class="text-danger">{{.days}}:</span
                    ><span class="text-dark">&nbsp&nbsp{{.hours}}</span>
                  </p>
                </small>
                <a class="ms-auto stretched-link" href="{{.link}}"></a>
              </div>
            </div>
          </div>
          <div class="col-12 px-4" style="max-width: 300px">
            {{end}} {{with .Params.location_7}}
            <div class="card card-sm rounded-top-start rounded-bottom-end lift">
              <!-- Image  -->
              <img
                class="card-img rounded-top-start"
                src="{{.image}}"
                alt="..."
                href="#!"
              />
              <!-- SHAPE -->
              <div class="position-relative">
                <div class="shape shape-fluid-x shape-top text-white">
                  <div class="shape-img pb-4">
                    <svg viewBox="0 0 100 50" preserveAspectRatio="none">
                      <path d="M0 25h25L75 0h25v50H0z" fill="currentColor" />
                    </svg>
                  </div>
                </div>
              </div>
              <!-- Body -->
              <div class="card-body">
                <!-- Heading -->
                <h4 class="text-dark">{{.branch_name}}</h4>
                <br />
                <!-- Text -->
                <small>
                  <p class="fs-sm mb-4">
                    <span class="text-danger">TEL:</span
                    ><span class="text-dark">&nbsp&nbsp{{.tel}}</span>
                  </p>
                  <p class="fs-sm mb-4">
                    <span class="text-danger">{{.days}}:</span
                    ><span class="text-dark">&nbsp&nbsp{{.hours}}</span>
                  </p>
                </small>
                <a class="ms-auto stretched-link" href="{{.link}}"></a>
              </div>
            </div>
          </div>
          <div class="col-12 px-4" style="max-width: 300px">
            {{end}}

            <!-- Card -->
            {{with .Params.location_8}}
            <div class="card card-sm rounded-top-start rounded-bottom-end lift">
              <!-- Image  -->
              <img
                class="card-img rounded-top-start"
                src="{{.image}}"
                alt="..."
              />
              <!-- SHAPE -->
              <div class="position-relative">
                <div class="shape shape-fluid-x shape-top text-white">
                  <div class="shape-img pb-4">
                    <svg viewBox="0 0 100 50" preserveAspectRatio="none">
                      <path d="M0 25h25L75 0h25v50H0z" fill="currentColor" />
                    </svg>
                  </div>
                </div>
              </div>
              <!-- Body -->
              <div class="card-body">
                <!-- Heading -->
                <h4 class="text-dark">{{.branch_name}}</h4>
                <br />
                <small>
                  <p class="fs-sm mb-4">
                    <span class="text-danger">TEL:</span
                    ><span class="text-dark">&nbsp&nbsp{{.tel}}</span>
                  </p>
                  <p class="fs-sm mb-4">
                    <span class="text-danger">{{.days}}:</span
                    ><span class="text-dark">&nbsp&nbsp{{.hours}}</span>
                  </p>
                </small>
                <a class="ms-auto stretched-link" href="{{.link}}"></a>
              </div>
            </div>
            {{end}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<br />

<!-- CTA -->
{{with .Params.cta}}
<section class="bg-dark">
  <div class="container-lg">
    <div class="row align-items-center">
      <div class="col-12">
        <!-- Divider -->
        <hr class="bg-gray-900 mt-0 mb-8" />
      </div>
      <div class="col-md">
        <!-- Heading -->
        <h1 class="text-white mb-0">{{.heading}}</h1>

        <!-- Text -->
        <p class="text-white-60 mb-4 mb-md-0">{{.text}}</p>
      </div>
      <div class="col-md-4 d-flex form">
        <!-- Form -->
        <form id="form">
          <input
            class="form-control"
            type="email"
            placeholder="Email address"
          />
        </form>
        <button type="submit" form="form1" value="Submit">Submit</button>
      </div>
      <div class="col-12">
        <!-- Divider -->
        <hr class="bg-gray-900 mb-0 mt-8" />
      </div>
    </div>
  </div>
</section>
{{end}}

<!---->
{{end}}
